/* Styles for search container */
.search-container {
    margin: 20px auto;
    margin-bottom: 30px;
    align-items: center;
}

/* Styles for search input */
.input {
    width: 35%;
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    border: 1px solid;
}

/* Styles for search button */
.button {
    width: 15%;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    margin-right: 10px;
    border: 2px solid;
    background-color: lightskyblue;
    cursor: pointer;
}